.flex{
  display: flex;
  flex:1;
}

.flex-col{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.between{
  justify-content: space-between;
}

#app{
  margin: 0 auto;
  width: 60%;
}

.border {
    border: 2px solid green;
}

.center{
  align-items: center;
  justify-content: center;
}
